In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

# Store Bank CSV into DataFrame

In [2]:
csv_file = "Resources/Bank_account_or_service_complaints.csv"
bank_data_df = pd.read_csv(csv_file)
bank_data_df.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,07/29/2013,Bank account or service,Checking account,Using a debit or ATM card,NaN,NaN,NaN,Wells Fargo & Company,CA,95992,Older American,NaN,Web,07/31/2013,Closed with explanation,Yes,No,468889
1,07/29/2013,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,NaN,Santander Bank US,NY,10065,NaN,NaN,Fax,07/31/2013,Closed,Yes,No,468879
2,07/29/2013,Bank account or service,Checking account,Deposits and withdrawals,NaN,NaN,NaN,Wells Fargo & Company,GA,30084,NaN,NaN,Web,07/30/2013,Closed with explanation,Yes,No,468949
3,07/29/2013,Bank account or service,Checking account,Deposits and withdrawals,NaN,NaN,NaN,Bank of America,TX,75025,NaN,NaN,Web,07/30/2013,Closed with explanation,Yes,No,468981
4,07/29/2013,Bank account or service,Other bank product/service,Deposits and withdrawals,NaN,NaN,NaN,Wells Fargo & Company,CA,96088,NaN,NaN,Web,08/01/2013,Closed with explanation,Yes,No,469185

# Create new data for products and Sub-products with select columns

In [3]:
new_product_data_df = bank_data_df[['Product', 'Sub-product']].copy()
new_product_data_df.head()
new_product_data_df.drop_duplicates(['Product','Sub-product'],inplace=True,keep='first')

new_product_data_df['ID_Product'] = range(1,1+len(new_product_data_df))
new_product_data_df.head()
cols = new_product_data_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
new_product_data_df = new_product_data_df[cols]
new_product_data_df.head()

     ID_Product                  Product                         Sub-product
0             1  Bank account or service                    Checking account
4             2  Bank account or service          Other bank product/service
6             3  Bank account or service         (CD) Certificate of deposit
15            4  Bank account or service                     Savings account
294           5  Bank account or service  Cashing a check without an account

# Create new data for Complaint Type with select columns

In [4]:
new_issue_data_df = bank_data_df[['Issue']].copy()
new_issue_data_df.head()
new_issue_data_df.drop_duplicates(['Issue'],inplace=True,keep='first')

new_issue_data_df['ID_Issue'] = range(1,1+len(new_issue_data_df))
new_issue_data_df.head()
cols = new_issue_data_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
new_issue_data_df = new_issue_data_df[cols]
new_issue_data_df.head(10)

    ID_Issue                                     Issue
0          1                 Using a debit or ATM card
1          2   Account opening, closing, or management
2          3                  Deposits and withdrawals
7          4     Problems caused by my funds being low
29         5  Making/receiving payments, sending money

# Create new data for Company with select columns

In [5]:
new_company_data_df = bank_data_df[['Company']].copy()
new_company_data_df.head()
new_company_data_df.drop_duplicates(['Company'],inplace=True,keep='first')

new_company_data_df['ID_Company'] = range(1,1+len(new_company_data_df))
new_company_data_df.head()
cols = new_company_data_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
new_company_data_df = new_company_data_df[cols]
new_company_data_df.head(10)

    ID_Company                     Company
0            1       Wells Fargo & Company
1            2           Santander Bank US
3            3             Bank of America
5            4        JPMorgan Chase & Co.
9            5        First Tennessee Bank
11           6        People's United Bank
12           7  TD Bank US Holding Company
23           8         Synchrony Financial
24           9              BB&T Financial
25          10                U.S. Bancorp

# Create Bank Complaint Dataframe

In [6]:
result_prod_df = pd.merge(bank_data_df,new_product_data_df,on=['Product','Sub-product'])
result_prod_df.head(5)
result_prod_issue_df = pd.merge(result_prod_df,new_issue_data_df,on=['Issue'])
result_prod_issue_df.head()
result_prod_issue_company_df = pd.merge(result_prod_issue_df,new_company_data_df,on=['Company'])
result_prod_issue_company_df.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,...,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,ID_Product,ID_Issue,ID_Company
0,07/29/2013,Bank account or service,Checking account,Using a debit or ATM card,NaN,NaN,NaN,Wells Fargo & Company,CA,95992,...,NaN,Web,07/31/2013,Closed with explanation,Yes,No,468889,1,1,1
1,08/29/2013,Bank account or service,Checking account,Using a debit or ATM card,NaN,NaN,NaN,Wells Fargo & Company,FL,33102,...,NaN,Phone,08/30/2013,Closed with non-monetary relief,Yes,Yes,509316,1,1,1
2,08/19/2013,Bank account or service,Checking account,Using a debit or ATM card,NaN,NaN,NaN,Wells Fargo & Company,FL,33021,...,NaN,Web,08/20/2013,Closed with monetary relief,Yes,No,495743,1,1,1
3,09/09/2013,Bank account or service,Checking account,Using a debit or ATM card,NaN,NaN,NaN,Wells Fargo & Company,CA,93033,...,NaN,Phone,09/10/2013,Closed with explanation,Yes,No,520445,1,1,1
4,09/16/2013,Bank account or service,Checking account,Using a debit or ATM card,NaN,NaN,NaN,Wells Fargo & Company,GA,30008,...,NaN,Referral,09/17/2013,Closed with explanation,Yes,No,528408,1,1,1

# Drop columns

In [7]:
result_bank_df = result_prod_issue_company_df.drop(columns=['Product','Sub-product','Issue','Sub-issue',\
'Consumer complaint narrative','Company public response','Company','Tags','Consumer consent provided?','ZIP code'])
column = list(result_bank_df.head(0))
print(column)
result_bank_df.head()

['Date received', 'State', 'Submitted via', 'Date sent to company', 'Company response to consumer', 'Timely response?', 'Consumer disputed?', 'Complaint ID', 'ID_Product', 'ID_Issue', 'ID_Company']

,Date received,State,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,ID_Product,ID_Issue,ID_Company
0,07/29/2013,CA,Web,07/31/2013,Closed with explanation,Yes,No,468889,1,1,1
1,08/29/2013,FL,Phone,08/30/2013,Closed with non-monetary relief,Yes,Yes,509316,1,1,1
2,08/19/2013,FL,Web,08/20/2013,Closed with monetary relief,Yes,No,495743,1,1,1
3,09/09/2013,CA,Phone,09/10/2013,Closed with explanation,Yes,No,520445,1,1,1
4,09/16/2013,GA,Referral,09/17/2013,Closed with explanation,Yes,No,528408,1,1,1

# Rename Columns

In [8]:
result_bank_df.rename(columns={'Date received':'date_received',
                               'Submitted via':'submitted_via',
                               'Date sent to company':'date_sent_to_company',
                               'Company response to consumer':'status',
                               'Timely response?':'timely_response',
                               'Consumer disputed?':'consumer_disputed',
                               'Complaint ID':'complaint_id'},inplace=True)
result_bank_df.head()

,date_received,State,submitted_via,date_sent_to_company,status,timely_response,consumer_disputed,complaint_id,ID_Product,ID_Issue,ID_Company
0,07/29/2013,CA,Web,07/31/2013,Closed with explanation,Yes,No,468889,1,1,1
1,08/29/2013,FL,Phone,08/30/2013,Closed with non-monetary relief,Yes,Yes,509316,1,1,1
2,08/19/2013,FL,Web,08/20/2013,Closed with monetary relief,Yes,No,495743,1,1,1
3,09/09/2013,CA,Phone,09/10/2013,Closed with explanation,Yes,No,520445,1,1,1
4,09/16/2013,GA,Referral,09/17/2013,Closed with explanation,Yes,No,528408,1,1,1

# Store Credit Card CSV into DataFrame

In [10]:
csv_file_cc = "Resources/Credit_Card_complaints.csv"
cc_data_df = pd.read_csv(csv_file_cc)
cc_data_df.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,07/29/2013,Credit card,NaN,Billing statement,NaN,NaN,NaN,Citibank,OH,45247,NaN,NaN,Referral,07/30/2013,Closed with explanation,Yes,Yes,469026
1,07/29/2013,Credit card,NaN,APR or interest rate,NaN,NaN,NaN,Synchrony Financial,WA,98548,NaN,NaN,Web,07/29/2013,Closed with monetary relief,Yes,No,469131
2,07/29/2013,Credit card,NaN,Delinquent account,NaN,NaN,NaN,Amex,TX,78232,NaN,NaN,Web,07/29/2013,Closed with monetary relief,Yes,No,479990
3,07/29/2013,Credit card,NaN,Billing disputes,NaN,NaN,NaN,Capital One,FL,32226,Servicemember,NaN,Web,07/29/2013,Closed with explanation,Yes,No,475777
4,07/29/2013,Credit card,NaN,Credit line increase/decrease,NaN,NaN,NaN,Citibank,WI,53066,Older American,NaN,Phone,07/30/2013,Closed with explanation,Yes,Yes,469473

# Create new data for products and Sub-products with select columns

In [11]:
new_cc_product_data_df = cc_data_df[['Product', 'Sub-product']].copy()
new_cc_product_data_df.head()
new_cc_product_data_df.drop_duplicates(['Product','Sub-product'],inplace=True,keep='first')

new_cc_product_data_df['ID_Product'] = 6
new_cc_product_data_df.head()
cols = new_cc_product_data_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
new_cc_product_data_df = new_cc_product_data_df[cols]
new_cc_product_data_df.head()

   ID_Product      Product  Sub-product
0           6  Credit card          NaN

# Append products from Bank and Credit cards

In [12]:
product_df = new_product_data_df.append(new_cc_product_data_df)
product_df.rename(columns={'Sub-product':'sub_product'},inplace=True)
product_df.head(6)

     ID_Product                  Product                         sub_product
0             1  Bank account or service                    Checking account
4             2  Bank account or service          Other bank product/service
6             3  Bank account or service         (CD) Certificate of deposit
15            4  Bank account or service                     Savings account
294           5  Bank account or service  Cashing a check without an account
0             6              Credit card                                 NaN

# Create new data for Credit Card Complaint Type with select columns

In [13]:
new_cc_issue_data_df = cc_data_df[['Issue']].copy()
new_cc_issue_data_df.head()
new_cc_issue_data_df.drop_duplicates(['Issue'],inplace=True,keep='first')

new_cc_issue_data_df['ID_Issue'] = range(6,6+len(new_cc_issue_data_df))
new_cc_issue_data_df.head()
cols = new_cc_issue_data_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
new_cc_issue_data_df = new_cc_issue_data_df[cols]
new_cc_issue_data_df.head(10)

    ID_Issue                                  Issue
0          6                      Billing statement
1          7                   APR or interest rate
2          8                     Delinquent account
3          9                       Billing disputes
4         10          Credit line increase/decrease
5         11                         Payoff process
6         12             Closing/Cancelling account
9         13                   Credit determination
11        14  Identity theft / Fraud / Embezzlement
14        15                      Transaction issue

# Append Complaint Type from Bank and Credit cards

In [14]:
complaint_type_df = new_issue_data_df.append(new_cc_issue_data_df)
complaint_type_df.head(10)

    ID_Issue                                     Issue
0          1                 Using a debit or ATM card
1          2   Account opening, closing, or management
2          3                  Deposits and withdrawals
7          4     Problems caused by my funds being low
29         5  Making/receiving payments, sending money
0          6                         Billing statement
1          7                      APR or interest rate
2          8                        Delinquent account
3          9                          Billing disputes
4         10             Credit line increase/decrease

# Create new data for Credit Card Company with select columns

In [15]:
#new_company_data_df['ID_Company'].max()
new_cc_company_data_df = cc_data_df[['Company']].copy()
new_cc_company_data_df.head()
new_cc_company_data_df.drop_duplicates(['Company'],inplace=True,keep='first')

new_cc_company_data_df['ID_Company'] = range(452,452+len(new_cc_company_data_df))
new_cc_company_data_df.head()
cols = new_cc_company_data_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
new_cc_company_data_df = new_cc_company_data_df[cols]
new_cc_company_data_df.head(10)

    ID_Company                       Company
0          452                      Citibank
1          453           Synchrony Financial
2          454                          Amex
3          455                   Capital One
5          456         Wells Fargo & Company
7          457          JPMorgan Chase & Co.
10         458               Bank of America
11         459                  Barclays PLC
14         460                      Discover
27         461  First National Bank of Omaha

# Append Company from Bank and Credit cards

In [16]:
company_df = new_company_data_df.append(new_cc_company_data_df)
company_df.drop_duplicates(['Company'],inplace=True,keep='first')
company_df.sort_values(by=['ID_Company'])

       ID_Company                                         Company
0               1                           Wells Fargo & Company
1               2                               Santander Bank US
3               3                                 Bank of America
5               4                            JPMorgan Chase & Co.
9               5                            First Tennessee Bank
11              6                            People's United Bank
12              7                      TD Bank US Holding Company
23              8                             Synchrony Financial
24              9                                  BB&T Financial
25             10                                    U.S. Bancorp
28             11                   Regions Financial Corporation
30             12                           PayPal Holdings, Inc.
31             13                                    BBVA Compass
33             14                               TCF National Bank
35             15                                        Navy FCU
37             16                                        Citibank
38             17                             Ally Financial Inc.
39             18                                    Pentagon FCU
45             19                HSBC North America Holdings Inc.
46             20                  Citizens Financial Group, Inc.
51             21                            SunTrust Banks, Inc.
52             22                                   PNC Bank N.A.
57             23                                      BMO Harris
72             24                            M&T Bank Corporation
76             25          Receivables Performance Management LLC
93             26                                 FirstMerit Bank
99             27               Fifth Third Financial Corporation
102            28                    The Huntington National Bank
103            29                                      Union Bank
105            30                                     Capital One
...           ...                                             ...
70469         818                    Orions Management Group, LLC
70882         819                      Andreu, Palma & Andreu, PL
71052         820                        Acceptance Rentals, Inc.
71485         823                 Atlantic Credit & Finance, Inc.
72052         824                            GMA Investments, LLC
72632         826                 Lyons, Doughty & Veldhuis, P.C.
74145         829                       Denovus Corporation, Ltd.
74391         831  First Investors Financial Services Group, Inc.
75373         833                              EMCC Holdings, LLC
75825         835                  Ad Astra Recovery Services Inc
75844         836                        FRIC HOLDING CORPORATION
76346         838                       Conville & Conville, PLLC
78026         843                     AMRON PROFESSIONAL SERVICES
79616         847                                 Genpact Limited
80431         848  Puerto Rico Consumer Debt Management Co., Inc.
81367         851                        Hometown Equity Mortgage
81374         852                      Mathew Aaron Holdings Inc.
81499         854               ADR ARBITRATION SERVICES (Closed)
81966         857                  United Student Aid (USA) Funds
82083         858                      Thomas Kerns McKnight, LLP
82306         860                           Apple Law Group, Inc.
82479         861      Financial Business and Consumer Solutions.
83060         863                             Tenaglia & Hunt, PA
84060         864                  Blackrock Mitigation Group LLC
84303         865                     Crown Asset Management, LLC
85037         866          Malcolm S. Gerald and Associates, Inc.
85283         867                              AR Resources, Inc.
85904         868                                Aqua Finance Inc
86299         869                Equitable Acceptance Corporation
86433         870    Rausch, Sturm, Israel, Enerson & Hornik, LLC

[665 rows x 2 columns]

# Create Credit Card Complaint Dataframe

In [17]:
result_cc_prod_df = pd.merge(cc_data_df,new_cc_product_data_df,on=['Product','Sub-product'])
result_cc_prod_df.head(5)
result_cc_prod_issue_df = pd.merge(result_cc_prod_df,new_cc_issue_data_df,on=['Issue'])
result_cc_prod_issue_df.head()
result_cc_prod_issue_company_df = pd.merge(result_cc_prod_issue_df,company_df,on=['Company'])
result_cc_prod_issue_company_df.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,...,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,ID_Product,ID_Issue,ID_Company
0,07/29/2013,Credit card,NaN,Billing statement,NaN,NaN,NaN,Citibank,OH,45247,...,NaN,Referral,07/30/2013,Closed with explanation,Yes,Yes,469026,6,6,16
1,08/27/2013,Credit card,NaN,Billing statement,NaN,NaN,NaN,Citibank,OR,97123,...,NaN,Web,08/28/2013,Closed with explanation,Yes,No,505546,6,6,16
2,10/08/2013,Credit card,NaN,Billing statement,NaN,NaN,NaN,Citibank,OH,45342,...,NaN,Web,10/08/2013,Closed with explanation,Yes,No,555005,6,6,16
3,11/10/2013,Credit card,NaN,Billing statement,NaN,NaN,NaN,Citibank,NY,10704,...,NaN,Web,11/22/2013,Closed with explanation,Yes,No,592848,6,6,16
4,10/20/2013,Credit card,NaN,Billing statement,NaN,NaN,NaN,Citibank,NV,89131,...,NaN,Web,10/24/2013,Closed with explanation,Yes,No,564042,6,6,16

# Drop Columns

In [18]:
result_cc_df = result_cc_prod_issue_company_df.drop(columns=['Product','Sub-product','Issue','Sub-issue',\
'Consumer complaint narrative','Company public response','Company','Tags','Consumer consent provided?','ZIP code'])
column = list(result_cc_df.head(0))
print(column)
result_cc_df.head()

['Date received', 'State', 'Submitted via', 'Date sent to company', 'Company response to consumer', 'Timely response?', 'Consumer disputed?', 'Complaint ID', 'ID_Product', 'ID_Issue', 'ID_Company']

,Date received,State,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,ID_Product,ID_Issue,ID_Company
0,07/29/2013,OH,Referral,07/30/2013,Closed with explanation,Yes,Yes,469026,6,6,16
1,08/27/2013,OR,Web,08/28/2013,Closed with explanation,Yes,No,505546,6,6,16
2,10/08/2013,OH,Web,10/08/2013,Closed with explanation,Yes,No,555005,6,6,16
3,11/10/2013,NY,Web,11/22/2013,Closed with explanation,Yes,No,592848,6,6,16
4,10/20/2013,NV,Web,10/24/2013,Closed with explanation,Yes,No,564042,6,6,16

# Rename Columns

In [19]:
result_cc_df.rename(columns={'Date received':'date_received',
                               'Submitted via':'submitted_via',
                               'Date sent to company':'date_sent_to_company',
                               'Company response to consumer':'status',
                               'Timely response?':'timely_response',
                               'Consumer disputed?':'consumer_disputed',
                               'Complaint ID':'complaint_id'},inplace=True)
result_cc_df.head()

,date_received,State,submitted_via,date_sent_to_company,status,timely_response,consumer_disputed,complaint_id,ID_Product,ID_Issue,ID_Company
0,07/29/2013,OH,Referral,07/30/2013,Closed with explanation,Yes,Yes,469026,6,6,16
1,08/27/2013,OR,Web,08/28/2013,Closed with explanation,Yes,No,505546,6,6,16
2,10/08/2013,OH,Web,10/08/2013,Closed with explanation,Yes,No,555005,6,6,16
3,11/10/2013,NY,Web,11/22/2013,Closed with explanation,Yes,No,592848,6,6,16
4,10/20/2013,NV,Web,10/24/2013,Closed with explanation,Yes,No,564042,6,6,16

# Connect to local database

In [41]:
rds_connection_string = "root:mysql01!/@127.0.0.1/complaint_db"
engine = create_engine(f'mysql://{rds_connection_string}')

# Check for tables

In [44]:
engine = create_engine(f"mysql://root:mysql01!@127.0.0.1:3306/complaint_db")

In [45]:
engine.table_names()

['bank_complaint',
 'complaint_type',
 'complcomplaint_typeaint_type',
 'credit_card_complaint',
 'financial_company',
 'financial_product']

# Load Company Table to MySql

In [46]:
company_df.to_sql(name='financial_company', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from financial_company', con=engine).head()

   ID_Company                Company
0           1  Wells Fargo & Company
1           2      Santander Bank US
2           3        Bank of America
3           4   JPMorgan Chase & Co.
4           5   First Tennessee Bank

# Load Complain Type Table to MySql

In [47]:
complaint_type_df.to_sql(name='complaint_type', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from complaint_type', con=engine).head()

   ID_Issue                                     Issue
0         1                 Using a debit or ATM card
1         2   Account opening, closing, or management
2         3                  Deposits and withdrawals
3         4     Problems caused by my funds being low
4         5  Making/receiving payments, sending money

# Load Product Table to MySql

In [48]:
product_df.to_sql(name='financial_product', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from financial_product', con=engine).head()

   ID_Product                  Product                         Sub_product
0           1  Bank account or service                    Checking account
1           2  Bank account or service          Other bank product/service
2           3  Bank account or service         (CD) Certificate of deposit
3           4  Bank account or service                     Savings account
4           5  Bank account or service  Cashing a check without an account

# Load Bank Complaint Table to MySql

In [49]:
result_bank_df['date_received'] = pd.to_datetime(result_bank_df['date_received'])
result_bank_df['date_sent_to_company'] = pd.to_datetime(result_bank_df['date_sent_to_company'])
result_bank_df.to_sql(name='bank_complaint', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from bank_complaint', con=engine).head()

,date_received,State,submitted_via,date_sent_to_company,status,timely_response,consumer_disputed,complaint_id,ID_product,ID_issue,ID_Company
0,2012-05-21,SC,Referral,2012-05-29,Closed with relief,Yes,No,39,1,3,1
1,2012-05-21,CA,Web,2012-05-24,Closed without relief,Yes,No,50,1,3,1
2,2012-05-21,CA,Web,2012-05-24,Closed with explanation,Yes,No,51,2,5,68
3,2012-05-21,WA,Phone,2012-05-29,Closed with explanation,Yes,Yes,56,1,3,4
4,2012-05-21,TX,Phone,2012-06-18,Closed with explanation,Yes,Yes,72,1,4,3

# Load Credit Card Complaint Table to MySql

In [50]:
result_cc_df['date_received'] = pd.to_datetime(result_cc_df['date_received'])
result_cc_df['date_sent_to_company'] = pd.to_datetime(result_cc_df['date_sent_to_company'])
result_cc_df.to_sql(name='credit_card_complaint', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from credit_card_complaint', con=engine).head()

,date_received,State,submitted_via,date_sent_to_company,status,timely_response,consumer_disputed,complaint_id,ID_product,ID_issue,ID_Company
0,2012-05-21,AZ,Web,2012-05-23,Closed with relief,Yes,No,1,6,12,8
1,2012-05-21,MI,Web,2012-05-22,Closed with relief,Yes,No,22,6,17,1
2,2012-04-20,SC,Referral,2012-04-20,Closed without relief,Yes,No,73,6,13,10
3,2012-05-21,TX,Web,2012-05-24,Closed with explanation,Yes,No,98,6,22,82
4,2012-05-21,CO,Referral,2012-05-29,Closed with explanation,Yes,No,100,6,19,30